<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--    if using spring @Transactional hibernate.current_session_context_class need to absent-->
    <!--    else(javax @Transactional) is fine-->
    <!--    <property name="hibernate.current_session_context_class">thread</property>-->
    <property name="hibernate.show_sql">false</property>
    <!--    Hibernate ddl auto (create, create-drop, validate, update)-->
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MariaDB102Dialect</property>
  </session-factory>
</hibernate-configuration>